#Load the Iris dataset

In [2]:
from sklearn.datasets import load_iris
iris = load_iris()

#Put the data into a data frame

In [9]:
import pandas as pd
X = pd.DataFrame(data = iris.data, columns = iris.feature_names)
X.head()

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

In [11]:
y = pd.DataFrame(data=iris.target, columns = ['species'])
y.head()

   species
0        0
1        0
2        0
3        0
4        0

#Another way of creating a data frame

takes all the predictor columns (x) and target columns (species)

In [16]:
import pandas as pd
data=pd.DataFrame({
    'SepalLength':iris.data[:,0],
    'SepalWidth':iris.data[:,1],
    'PetalLength':iris.data[:,2],
    'PetalWidth':iris.data[:,3],
    'Species':iris.target
})
data.head()

   SepalLength  SepalWidth  PetalLength  PetalWidth  Species
0          5.1         3.5          1.4         0.2        0
1          4.9         3.0          1.4         0.2        0
2          4.7         3.2          1.3         0.2        0
3          4.6         3.1          1.5         0.2        0
4          5.0         3.6          1.4         0.2        0

# Organize the data by type

(shows number of each type, like PivotTable "count of class" from Excel)

In [10]:
y.irisType.value_counts()

2    50
1    50
0    50
Name: irisType, dtype: int64

In [17]:
data['Species'].value_counts()

2    50
1    50
0    50
Name: Species, dtype: int64